body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* Horizontally centers the div */
  align-items: center; /* Vertically centers the div */
}

#hoverDiv {
  width: 200px;
  height: 200px;
  background-color: lightgray;
  text-align: center;
  line-height: 200px;
  margin: auto;
  position: relative;
  top: 100px;
}
